<!doctype html>
<html>
  <head>

    <style>
      p.radio, div.radio {
          text-indent: -15px;
          padding-left: 50px;
      }

      input.disabled {
          text-decoration: line-through;
      }
    </style>

  <style>
   
    @font-face{
      font-family:"NotoSansCherokeeRegular";
      src:url('/static/fonts/Cherokee/NotoSansCherokee-Regular.ttf')format('truetype');
      font-weight:normal;
      font-style:normal;
    }

    .NotoSansCherokee {
        font-family: "NotoSansCherokeeRegular";
        font-size:18px;
    }

    @font-face{
        font-family:"Digohweli_1_7";
        src:url('/static/fonts/Cherokee/Digohweli_1_7.ttf')format('truetype');
        font-weight:normal;
        font-style:normal;
    }

    .Digohweli {
        font-family: "Digohweli";
        font-size:18px;
    }
    textarea {  
        font-family: Digohweli, NotoSansCherokee, Times, serif;  
        font-size: 16px;   
    }
    </style>

    <script src="/static/js/{{lang_code}}Gloss.js"></script>

    <script type="text/javascript">

      // Global language code
      const lang_code = '{{lang_code}}';
      
      function get_morph_data(caller_function, text_source_id, output_id, lang_code) {
          // Gets informatino from the back end and puts results into the output area specified.
          //console.log("get_morph_data" + caller_function + ' ' + text_source + ' ' + output_id);
          const input_source = document.getElementById(text_source_id);
          const input_text = input_source.value;
          const output_element = document.getElementById(output_id);

          let req = new XMLHttpRequest();
          req.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  alert(this.responseText);
                  const raw_data = this.responseText;
                  // Try to force a newline here.
                  output_element.value = raw_data.replace(",", ",<br />");
                  const x = 2;
              } else {
                  const x = 1;
              }
          };

          let target_list = [];
          target_list.push('function=' + caller_function);
          target_list.push('lang_code=' + lang_code);
          target_list.push('input_text=' + input_text.trim());
          const target = target_list.join('&');
          
          req.open('POST', '/get_morph_results/', true);
          req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
          req.send(target);
      }

      function get_generate_data() {
          // Gets informatino from the back end and puts results into the output area specified.
          const input_source = document.getElementById('gen_text');
          const input_text = input_source.value;
          const output_element = document.getElementById('generate_response');

          let req = new XMLHttpRequest();
          req.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  const raw_data = this.responseText;
                  let result_data = JSON.parse(raw_data);
                  let first = result_data['result_text'];
                  let second = result_data['latn_result'];
                  output_element.value = first + ' == '  + second;
              }
          };

          let target_list = [];
          target_list.push('function=' + 'generate');
          target_list.push('lang_code=' + lang_code);
          const input_text_ready = encodeURIComponent(input_text.trim());
          target_list.push('input_text=' + input_text_ready);
          const target = target_list.join('&');
          
          req.open('POST', '/get_morph_results/', true);
          req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
          req.send(target);
      }
      
      function get_parse_data() {
          // Gets informatino from the back end and puts results into the output area specified.
          const input_source = document.getElementById('parse_text');
          const input_text = input_source.value;
          const output_element = document.getElementById('parse_response');

          let req = new XMLHttpRequest();
          req.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  const raw_data = this.responseText;
                  const result_data = JSON.parse(raw_data);
                  let first = result_data['result_text'].join('\n');
                  let second = result_data['latn_result'];
                  output_element.value = first + second;
              }
          };

          let target_list = [];
          target_list.push('function=' + 'parse');
          target_list.push('lang_code=' + lang_code);
          const input_text_ready = encodeURIComponent(input_text.trim());
          target_list.push('input_text=' + input_text_ready);
          const target = target_list.join('&');
          
          req.open('POST', '/get_morph_results/', true);
          req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
          req.send(target);
      }

     
      function get_paradigm_data() {
          // Gets informatino from the back end and puts results into the output area specified.
          const input_source = document.getElementById('paradigm_text');
          const input_text = input_source.value;
          const output_element = document.getElementById('paradigm_response');

          let req = new XMLHttpRequest();
          req.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  const raw_data = this.responseText;
                  const result_data = JSON.parse(raw_data);
                  output_element.value = result_data['result_text'];
              }
          };

          let target_list = [];
          target_list.push('function=' + 'paradigm');
          target_list.push('lang_code=' + lang_code);
          const input_text_ready = encodeURIComponent(input_text.trim());
          target_list.push('input_text=' + input_text_ready);
          const target = target_list.join('&');
          
          req.open('POST', '/get_morph_results/', true);
          req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
          req.send(target);
      }      

      const sample_matcher = /\'([^\']*)\'/g;
      function populate_from_sample(selector) {
          const item_strings = [...selector.value.matchAll(sample_matcher)];

          // Put these values into the input areas.
          // Put these values into the input areas.
          const parse_input = document.getElementById('parse_text');
          parse_input.value = item_strings[0][1];
          
          const gen_input = document.getElementById('gen_text');
          gen_input.value = item_strings[1][1];
      }

      function populate_stem(selector) {
          const out_area = document.getElementById('stem_text_area');
          out_area.value = out_area.innerHTML = selector.value;
          change_generate_option('stem', 'stem');
      }

      // Gets all the parameters, eliminating the "None" values, and combining
      function get_generate_parameters() {
          let output_items = [];
          let output_text = '';
          // Surround each with [] and combine with '+'
          let selectors;
          {% for part in gloss_parts.keys() %}
          selectors = document.querySelectorAll('input[name="{{part}}"]');
          for (const selector of selectors) {
              // Get the element
              if (selector.checked) {
                  // get its value(s)
                  let selected_value = selector.value;
                  // if not empty or None, add to the output_element text
                  output_items.push(['{{part}}', selected_value]);
              }
          }
          {% endfor %}
          // Create text from selected_value
          return output_items;
      }

      function clear_gloss() {
         // TODO: reset the option on each item.
      }
    </script>
    
  </head>
  <body>
    <h1>Morphy</h1>
    <p>A morphological generator and parser for {{lang_name}} ({{lang_code}}).
    <!-- Input box -->
      <h2>Generator</h2>
      <h3>Select gloss options</h3>
     <p>
       <div id='stem_setting'>
       <label for="stems">Choose a stem:</label>
       <select id='stems' name='stems' onchange="populate_stem(this)">
         {% for stem_set in stems %}
         {% for stem in stems[stem_set] %}
         <option value="{{stem[0]}}">#{{loop.index}}: {{stem[0]}}  ==  ({{stem[1]}})</option>
         {% endfor %}

         {% endfor %}
       </select>
           <label for="stem_text_area">Or type a stem:</label>
           <textarea id='stem_text_area' onchange="change_generate_option('stem_text_area', 'stem');" rows='1'></textarea>
           <br />
           </div>
           
     <!-- <p> -->
     <!--   <input type="button" id='clear_gloss' onclick="clear_gloss();">Clear gloss</button> -->
     <!-- </p> -->

       <div id='gloss' padding-left=3>
     {% for part in gloss_parts.keys() %}
     {% set part_index = loop.index %}
     <p class='gloss_ui'>
       <div class="radio">
         {% if gloss_info.gloss_visible.get(part) %}
         <b>{{part}}:</b>
         {% if gloss_info.gloss_include_none.get(part) %}
           <input type="{{gloss_info.gloss_ui_type.get(part)}}" id="{{part}}_{{val}}" name="{{part}}" value='None'
                  onclick="change_generate_option(this, '{{part}}');">
           <label for="{{part}}_{{val}}">None</label>
         {% endif %}
         {% for val in gloss_parts.get(part) %} {{value}}
           <input type="{{gloss_info.gloss_ui_type.get(part)}}" id="{{part}}_{{val}}" name="{{part}}" value={{val}}
                  onclick="change_generate_option(this, '{{part}}');">
         <label for="{{part}}_{{val}}">{{val}}</label>
         {% endfor %}
         {% endif %}
         
       </div>
     </p>
     {% endfor %}


    <form action="/get_morph_results" method="post">
    <label for="gen_text">Rule for generating:</label>
    <input type="text" id="gen_text" name="gen_text" size="80">
    <br />

    <input type="button" id='btb-generated' onclick="get_generate_data();"> Generate from gloss</button>
    </form>
    {% if use_textarea %} 
    <label for="generate_response">Generate result</label>
    <br />
    <textarea id="generate_response" cols="80"/>
    </textarea>
    {% endif %}

    <h2>Parser</h2>
    <form action="/get_morph_results" method="
    <label for="parse_text">Text to parse:</label>
    <input type="text" id="parse_text" name="parse_text" size="80">
    <input type="button" id='btb-parse' onclick="get_parse_data();"> Parse text to  gloss</button>
    </form>
    {% if use_textarea %}
    <label for="parse_response">Parse result</label>
    <br />
    <textarea id="parse_response" cols="80" rows="5"/>
    </textarea>
    {% endif %}

    <!-- <h2>Paradigm</h2> -->
    <!-- <form action="/get_morph_results" method=" -->
    <!-- <label for="parse_text">Paradign:</label> -->
    <!-- <input type="text" id="paradigm_text" name="paradigm_text" size="80"> -->
    <!-- <input type="button" id='btb-paradigm' onclick="get_paradigm_data();">Get paradigm</button> -->
    <!-- </form> -->

    <!-- {% if use_textarea %} -->
    <!-- <label for="paradigm_response">Paradigm response</label> -->
    <!-- <br /> -->
    <!-- <textarea id="paradigm_response" cols="80"/> -->
    <!-- </textarea> -->
    <!-- {% endif %} -->

    <h2>Samples for testing</h2>

   <!-- samples to populate quickly for testing -->
   <select id='samples' name='samples' onchange="populate_from_sample(this)">
   {% for sample in samples %}
     <option value="{{sample}}">#{{loop.index}}: {{sample}}</option>
   {% endfor %}
   </select>


    <h2>Additional Information:</h2>
    <!-- <p>Grammar rules: {{rules}} -->
      
   </div>
<div id='references'>
  <h3>References</h3>
  <ul>
  {% for item in links %}
  <li>
  <a href="{{item.link}}" target="_blank">{{item.brief}}</a>: {{item.text}}
  </li>
  {% endfor %}
  </ul>
  

  </div>

  </body>
  </html>

